.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.bold {
    font-weight: 700;
}

.rw-titulo-negro {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 0.5rem;
}

.rw-titulo-blanco {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 0.5rem;
}

.rw-navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    a {
        color: black;
    }
    a:hover {
        color: gray;
    }
}

.rw-banner-participar {
    background-image: url(../img/banner_principal.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: white;
    h1 {
        font-weight: 700;
    }
    p {
        padding-top: 0.5rem;
        font-size: 1.5rem;
    }
    a {
        color: gray;
        font-size: 0.8rem;
    }
}

.rw-linea {
    width: 100%;
    height: 0.5rem;
    background-color: gray;
    border-radius: 100px;
}

.rw-historia {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.rw-historia-ico {
    height: 3rem;
    width: auto;
}

.rw-historia-c-texto {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
}

.rw-historia-ico-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 0;
}

.rw-historia-ico-text {
    font-size: 1.2rem;
    text-align: center;
    color: #8f8f8f;
    line-height: 1.2;
    margin-bottom: 0;
}

.rw-collection {
    background-color: black;
    padding-top: 4rem;
    padding-bottom: 5rem;
    p {
        font-size: 2rem;
        color: white;
        font-weight: 700;
        text-align: center;
    }
}

.rw-regalo {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.rw-texto-regalo {
    padding-top: 4rem;
    p {
        color: gray;
        line-height: 1.2;
    }
    :first-child {
        font-size: 1.2rem;
        font-weight: 700;
        color: black;
    }
}

.rw-contacto {
    background-image: url(../img/banner_contacto.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 4rem;
    padding-bottom: 10rem;
    a {
        color: gray;
        font-size: 0.8rem;
    }
}

.rw-tyc-texto {
    padding: 0 2rem;
    a {
        color: gray;
    }
}

.rw-banner-exito {
    height: 100px;
}

.rw-exito {
    background-image: url(../img/thank_you_fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 4rem;
    color: white;
    h1 {
        font-weight: 700;
    }
}

.rw-black-gradient {
    height: 10rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)); 
}
